:root {
    --Green: rgb(0, 216, 0);
    --Light-Gray: rgb(66, 66, 66);
    --Gray: rgb(33, 33, 33);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
html {
    width: 100vw;
    height: auto;
}
body {
    width: 100%;
    height: auto;
}
header {
    width: 98%;
    height: 8vh;
    z-index: 100;
    padding: 1%;
    border-bottom: var(--Green) 3px solid;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header a {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title_h1 {
    font-size: 2vw;
}
nav {
    width: auto;
    height: auto;
}
nav ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
main {
    width: 100%;
    height: auto;
}
section {
    width: 100%;
    height: auto;
}
#face {
    height: 100vh;
    width: 100%;
    background-image: url(/img/001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#face_div1_1 {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#face_div2_1 {
    width: 60%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#face_div2_1 h1 {
    font-size: 7vw;
}
#face_div2_2 {
    width: 60%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#face_div2_2 input {
    height: 100%;
    width: 80%;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    padding-left: 10px;
    color: black;
    font-size: large;
}
#face_div2_2 button {
    height: 100%;
    width: 20%;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    background-color: var(--Green);
    color: black;
}
#face-down {
    position: absolute;
    left: 50%;
    top: 92%;
    font-size: x-large;
    padding-left: -25%;
}
#product {
    height: auto;
    width: 90%;
    padding: 5%;
    background-color: var(--Gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.cards {
    width: 18%;
    min-width: 200px;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
    border: var(--Green) 4px solid;
    background-color: var(--Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.product_top {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.product_top img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.product_name {
    font-size: larger;
}
.product_description {
    font-size: medium;
    color: rgb(188, 188, 188);
}
.product_bottom {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.product_bottom p {
    height: 100%;
    width: 60%;
    font-size: larger;
}
.product_bottom a {
    height: 100%;
    width: 50%;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--Green);
    padding: 5px;
    padding-left: 10px;
    color: black;
    position: relative;
    right: -20px;
    bottom: -2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.product_bottom a:hover {
    background-color: rgb(0, 255, 0);
}
#details {
    width: 90%;
    height: 80vh;
    padding: 5%;
    padding-top: 17vh;
    padding-bottom: 3vh;
    background-color: var(--Light-Gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
#details_img {
    width: 40%;
    height: auto;
}
#details_img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
#details_texts {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}
#details_top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
#details_bottom {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#details_texts h3 {
    font-size: 4vw;
}
#details_details {
    font-size: x-large;
    color: rgb(188, 188, 188);
}
#details_price {
    font-size: x-large;
}
#details_texts button {
    width: 40%;
    height: 100%;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    padding: 5px;
    font-size: large;
    background-color: var(--Green);
    color: black;
}
#details_texts button:hover {
    background-color: rgb(0, 255, 0);
}
#recommadation {
    width: 90%;
    height: auto;
    padding: 5%;
    background-color: var(--Gray);
}
footer {
    width: 94%;
    height: auto;
    padding: 3%;
    padding-bottom: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#footer_div1_1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10%;
}
.footer_div2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 10px;
}
.footer_div2 p {
    font-size: medium;
    width: 100%;
}
.footer_div2 ul li {
    font-size: smaller;
}
#footer_div1_2 {
    width: 70%;
    border-top: white 1px solid;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
